.wrapper{
    display: flex;
    border-radius: 20px;
    border: 1px solid #FFA500;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icon{
    height: fit-content;
    width: fit-content;

}

.content{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
}

.rating{
    margin-left: 10px;
    display: flex;
}