.wrapper{
    white-space: nowrap;
    overflow-x: scroll;
    height: 300px;
    width: 95%;
    padding-bottom: 120px;
}
.wrapper::-webkit-scrollbar {
    display: none;
}

.root {
    padding-bottom: 5%;
}