/* PAGE LOADING */
.page-loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8ad;
}
.page-loading {
  left: 45%;
  top: 40%;
  z-index: 1000;
  position: absolute;
}

/* MENU */
.flex-container {
  display: flex;
  flex-direction: column;
}
.sidebar-menu {
  position: relative;
  width: 100%;
}
.sidebar-menu :hover {
  text-decoration: none;
  color: hotpink;
  transition: 0.1s;
}
.sidebar-menu .is_active {
  color: hotpink;
}
.sidebar-menu__item {
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  height: 32px;
}

/* BUTTON */
.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 20px;
  color: #fff;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

/* COUNT DOWN TIME */
h1 {
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 40px;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-matcher {
  margin-top: 10px;
  color: black;
  font-weight: 500;
  padding: 0 30px;
  text-align: center;
}
.name-matcher {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: black;
}

.time-value-matcher {
  font-size: 40px;
  color: #858585;
}

/* SIDEBAR */
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 67px;
  background: #ffcd72;
  position: fixed;
}
.navbar__top {
  display: block;
  margin-top: 100px;
  width: 100%;
}
.navbar__bottom {
  position: absolute;
  top: 90%;
}
.navbar-item {
  display: block;
  width: 100%;
  padding: 16px;
  text-align: center;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.navbar-tabs__together {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 47px;
  flex: none;
}
.btn-function {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 17px;
  background: linear-gradient(225deg, #ffa500 0.11%, #ffcd72 100.11%);
  border-radius: 100px;
  cursor: pointer;
}

.nb-active {
  background-color: #858585;
}

/* GENERAL INFO MIDDLE */
.info-container {
  position: static;
  padding: 5px 10px;
  height: 100vh;
  border-right: 1px solid #d6d1d1;
  background-color: white;
}

/* Component: search bar */
.search-bar {
  margin-top: 20px;
  height: 40px;
  border-radius: 50px;
  background: #f8d088;
  width: 95%;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  color: #858585;
  font-size: 16px;
  transition: 0.4s;
}
.search-button {
  color: white;
  width: 40px;
  height: 40px;
  transition: 0.4s;
}
/* Component: tag */
.tag {
  height: 40px;
  text-align: center;
}
.tag-button {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 30px;
}
.tag-active {
  background-color: #ffa500 !important;
  color: white !important;
}

/* CONTENT RIGHT */
.content-container {
  position: static;
  margin: auto;
  min-height: 100vh;
  padding: 5px 5px 0px 30px;
}

.recommend {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

.restaurant-list {
  display: block;
  margin: auto;
  padding-left: 7px;
  padding-right: 7px;
  width: 100%;
  height: 100%;
}

.restaurant-card {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 15px 15px;
  width: 10rem;
  height: 150px;
  cursor: pointer;
}

.restaurant-card .restaurant-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  align-items: center;
  color: #000;
  border-radius: 20px;
}

.restaurant-card .restaurant-item .restaurant-card-star {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0) 50%
  );
}

/*.restaurant-card .restaurant-item .restaurant-card-overlay {*/
/*  width: 100%;*/
/*  height: 30%;*/
/*  border-radius: 0px 0px 20px 20px;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 60% ,rgba(0,0,0,0) 100%);*/
/*}*/

.restaurant-card .restaurant-item .textOverlay .restaurant-card-name {
  color: #fff;
  font-size: 15px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-card .restaurant-item .restaurant-item-body:hover {
  overflow: visible;
}

.overlay {
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
  transition: 0.5s ease;
}

.restaurant-card:hover .overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.restaurant-card-name-overlay {
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Component: Filter */
.heading-filter {
  margin-top: 10px;
  color: #ffa500;
}
.heading-filter__fs15 {
  font-size: 1.5rem;
}
.label__fs15 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #626262;
}

.address-filter {
  margin-top: 20px;
}

.gender-filter {
}
.gender-filter .btn-gender {
  border: 1px solid;
  width: 90px;
}
.gender-filter .g__active {
  background-color: #ffa500;
}
.age-filter {
  width: 270px;
}
.distance-filter {
  width: 270px;
}

.rela-filter {
}
.rela-filter .btn-gender {
  border: 1px solid;
  width: 90px;
}
.rela-filter .g__active {
  background-color: #ffa500;
}

.find-object {
  margin-top: 30%;
  margin-left: 30%;
}
.connect-icon {
  margin-top: 30px;
  height: 100px;
  text-align: center;
}

.btn-function__size70 {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 17px;
  background: linear-gradient(225deg, #ffa500 0.11%, #ffcd72 100.11%);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.avt-user-match {
  width: 200px !important;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* MESSAGE */
.list-msg {
  display: flex;
  flex-wrap: wrap;
}
.scrollable {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.msg-item {
  height: 74px;
  left: 0px;
  /* position: absolute;
  top: 148px; */
  width: 100%;
}
.selected {
  background: #cccccc;
}

.msg-item .item {
  height: 50px;
  padding: 15px 20px 20px 0px;
  contain: size style;
  display: flex;
  cursor: pointer;
}

.avatar-msg {
  position: relative;
  color: #fff;
  contain: layout size style;
}
.avatar-msg--m {
  width: 52px;
  height: 52px;
  font-size: 20px;
}

.avatar-msg--m > .avatar-img {
  width: 52px;
  height: 52px;
  background-color: var(--grey-400);
}

.avatar-img,
.avatar-img .avatar-number-m {
  border-radius: 100%;
}

.item-content-container {
  width: calc(100% - 65px);
  height: calc(100% + 24px);
  padding-left: 15px;
  top: -12px;
}

.item-title-name {
  font-size: 17px;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  flex: 1;
  color: var(--neutral-base);
}

.chat-timestamp,
.item-timestamp {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  color: var(--neutral-500);
  position: relative;
  margin-left: 5px;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
}

.item-action {
  position: relative;
  height: 20px;
  display: flex;
  margin-left: 5px;
}

.item-action__menu {
  display: none;
  color: var(--neutral-600);
}

.item .func-setting__icon {
  font-weight: 600;
  font-size: 22px;
}

.content {
  height: 100vh;
}

.toolbar-msg {
  align-items: center;
  display: flex;
  padding-top: 10px;
  margin-left: 12px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.toolbar-msg-test {
  display: flex;
  padding-top: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.flx-1 {
  flex: 1;
}

.msg-header-title {
  position: relative;
  margin-left: 12px;
  margin-right: 18px;
}

.main-title-container {
  flex-wrap: nowrap;
}
.main-title-container > .header-title {
  overflow: hidden;
  display: block;
}
.title.header-title {
  line-height: normal;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  letter-spacing: normal;
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  cursor: default;
  height: 28px;
  overflow: visible;
}

.subtitle {
  font-size: 14px;
  color: #858585;
}

.subtitle.header-subtitle {
  min-width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.input-message {
  flex: none;
  position: relative;
}

.message-view__blur__overlay {
  content: "";
  z-index: -1;
}

.chat-view {
  padding: 10px 10px 70px;
}
.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #fff;
  border-top: 1px solid #eeeef1;
  position: fixed;
  height: 50px;
  width: calc(100% - 20px);
  bottom: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.compose-input {
  width: 65%;
  border: none;
  font-size: 14px;
  background: none;
}
.compose-btn {
  float: right;
}

.message {
  display: flex;
  flex-direction: column;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
}

.message .bubble-container .bubble {
  margin: 1px 0;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message.mine .bubble-container {
  justify-content: flex-end;
}

.message.mine .bubble-container .bubble {
  background: #007aff;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}
.top-group {
  display: flex;
  flex-direction: column;
}
.txt_l-s16 {
  margin-left: 20px;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
}

.list-top-group {
  /* display: flex;
  justify-content: center; */
}
.list-top-group::-webkit-scrollbar {
  display: none;
}

.top-group-item {
  padding: 10px;
  /* width: 25%; */
  width: 200px;
  cursor: pointer;
}

.group-item-img {
  /* width: 100%;
  border-radius: 20px;
  height: 140px; */
  padding: 35%;
  width: 100%;
  /* background-image: url("https://www.kpopnews.vn/uploadcontent/fileuploads/uploads/2019/08/30/8513dafe1aaf80cb6c23c1483c3f5129.jpg"); */
  border-radius: 20px;
  background-size: cover;
}

.top-group-item .group-item-name {
  text-align: center;
  font-size: 16px;
}
.top-group-item .card {
  border: none;
}
.top-group-item .card-body {
  padding: 5px;
}
.all-group {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}
.all-group .txt_l-s16 {
  text-align: center;
  margin-left: 0px;
}
.group-list {
  display: flex;
  flex-wrap: wrap;
}

.group-item {
  padding: 10px 10px;
  width: 20%;
  cursor: pointer;
}

.group-item .card {
  border: none;
}
.group-item .card-body {
  padding: 5px;
}
.group-item .group-item-img {
  width: 100%;
  border-radius: 20px;
  height: 120px;
}

.group-item .group-item-name {
  text-align: center;
  font-size: 16px;
}

.group-detail-top {
  height: 55vh;
  /* background-image: url(https://gamek.mediacdn.vn/133514250583805952/2021/1/31/luffy-ace-merrry-16120917700922018336714.jpg); */
}

.group-detail-top .group-detail-avatar {
  height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-detail-top .group-detail-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group-detail-bot .bot_left {
  display: flex;
  flex-direction: column;
}

.group-detail-bot .bot_left .txt_l-s16 {
  margin-left: 0px;
}

.group-detail-bot .bot_left .group-tag {
  display: flex;
}

.group-detail-bot .bot_left .avt-member {
  display: flex;
}
.group-detail-bot .bot_right {
  display: flex;
  flex-direction: column;
}

.group-detail-bot .bot_right .number_likes {
  text-align: right;
}

.txt_s25 {
  font-size: 20px;
}

.txt_s20 {
  font-size: 20px;
}

.boder-style_hidden {
  border-style: hidden;
  padding: 10px 0px;
}
.boder-style_hidden td {
  padding: 0px !important;
}
.btn-return-list-group {
  /* position: absolute; */
  margin-top: 10px;
  /* margin-left: 10px; */
}
.btn-group-like-group {
  display: flex;
  position: absolute;
  margin-top: 50vh;
  margin-left: 90%;
}
.btn-like-group {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 17px;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-create-group {
  position: absolute;
  margin-left: 80%;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 17px;
  background: rgb(255, 255, 255);
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.create-group-content {
  margin-top: 3rem;
}
.dropzone_frame {
  background: rgba(165, 165, 165, 0.267);
  text-align: center;
  height: 10em;
  line-height: 80%;
  width: 80%;
  border-radius: 1rem;
}
.dropzone {
  height: 100%;
  cursor: pointer;
}
.dropzone_frame .dropzone .dropzone_img {
  max-width: 100%;
  max-height: 100%;
}

.search-bar-new {
  margin-top: 1rem;
}
.search-bar-new .input-search-bar {
  width: 80%;
  height: 2.4rem;
  border-radius: 20px;
  background-color: #ffcd72;
  padding: 0 40px 5px 20px;
}

/* .search-bar-new .input-search-bar ::placeholder {
  color: white;
  opacity: 1;
} */

.search-bar-new .icon-search-bar {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 70%;
  width: 2rem;
}

.list-my-group {
  display: flex;
  /* justify-content: start; */
  flex-wrap: wrap;
}
.list-my-group .active {
  background-color: #ffa500;
  color: white;
}
.list-my-group .chip-group-item {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* GROUP EVENT */
/* List event */
.event-info {
  display: flex;
  flex-direction: column;
}

.event-info .event__heading {
  display: flex;
  justify-content: space-between;
}

.event-info .event__heading .event-txt__heading {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.event-info .event__heading .event-btn-create__heading {
  min-width: 150px;
  text-align: right;
}

.event-info .event__heading .event-btn-create__heading .custom-btn_ffa500 {
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
}

.event-info .event-list {
  overflow-y: scroll;
  height: 200px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.event-info .event-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.event-info .event-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.event-info .event-list .event-item {
  display: flex;
  padding: 5px 10px;
}

.event-info .event-list .event-item .event-item-left .event-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.event-info .event-list .event-item .event-item-right {
  display: flex;
  flex-direction: column;
}

.event-item:hover {
  background-color: #c4c4c4;
  border-radius: 10px !important;
  cursor: pointer;
  padding: 5px 10px;
}

/* Create event */
.create-group-event {
  margin-top: 3rem;
}
.create-group-event .event-top {
  display: flex;
  max-width: 400px;
}
.create-group-event .event-top .icon-event-of-group {
  display: flex;
  align-items: center;
}
.create-group-event .event-top .icon-event-of-group img {
  height: 50px;
  width: 50px;
}
.create-group-event .event-top .text-event-of-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 500;
}
.btn_ffa500 {
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
}

.event-choose-places {
}
.event-search-bar {
  height: 40px;
  border-radius: 50px;
  background: #f8d088;
}
.event-search-bar input {
  align-items: center;
}
.event-search-bar .search-places-input {
  border: none;
  background: none;
  outline: none;
  color: #858585;
  font-size: 16px;
  transition: 0.4s;
  width: 90%;
}

.event-choose-places .event-search-filter {
  display: flex;
  justify-content: center;
}

.event-choose-places .event-list-places {
  display: flex;
  flex-direction: column;
}

.event-choose-places .event-list-places .event-places-item {
  background-color: #c4c4c4;
  border-radius: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.event-choose-places .event-list-places .event-places-item .places-item-avatar {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.event-choose-places
  .event-list-places
  .event-places-item
  .places-item-avatar
  img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.event-choose-places
  .event-list-places
  .event-places-item
  .places-item-content {
  padding: 10px 0px;
  height: 6rem;
  width: 70%;
  height: 100%;
  color: black;
}

.event-choose-places
  .event-list-places
  .event-places-item
  .places-item-content
  .places-item-name {
  font-size: 18px;
}

.event-choose-places
  .event-list-places
  .event-places-item
  .places-item-content
  .places-item-rate {
  display: flex;
}

.event-choose-places
  .event-list-places
  .event-places-item
  .places-item-content
  .places-item-rate
  .item-rate-star {
  display: flex;
  align-items: center;
}

.event-choose-places
  .event-list-places
  .event-places-item
  .places-item-choose_radio {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-choose-places
  .event-list-places
  .event-places-item
  .places-item-choose_radio
  .circle_outline-radio {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}

/* Detail event */
.txt-event_20px {
  font-size: 20px;
  font-weight: 500;
}

.txt-event_18px {
  font-size: 18px;
  font-weight: 500;
}

.detail-group-event {
}

.detail-group-event .detail-event-left {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.detail-group-event .detail-event-left .detail-event-name {
  display: flex;
  justify-content: space-between;
}

.detail-group-event
  .detail-event-left
  .detail-event-name
  .event-btn
  .btn-edit-event {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 17px;
  background: #ffa500;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detail-group-event .detail-event-left .detail-event-time {
  font-size: 20px;
  font-weight: 500;
}

.detail-group-event .detail-event-left .detail-event-place .place-content {
}

.detail-group-event
  .detail-event-left
  .detail-event-place
  .place-content
  .place-avatar {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-group-event
  .detail-event-left
  .detail-event-place
  .place-content
  .place-avatar
  img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.places-info-rate {
  display: flex;
}
.places-info-rate .places-info-rate-star {
  display: flex;
  align-items: center;
}

.detail-group-event .detail-event-right {
  padding: 0;
}

.detail-group-event .detail-event-right .detail-event-chat_header {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Chat in detail event */
.event-detail-frame-chat {
  height: 100%;
  position: relative;

  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-detail-frame-chat .top-header-chat {
  display: flex !important;
  align-items: center;
  margin-top: 3rem;
  /* margin-left: 12px; */
  position: sticky;
  top: 0;
  background-color: #fff;
}

.event-detail-frame-chat .content-chat-view {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 10px 70px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.event-detail-frame-chat .content-chat-view::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.event-detail-frame-chat .content-chat-view {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.event-detail-frame-chat .compose-input-text {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #eeeef1;
  border-radius: 10px;
  /* position: fixed; */
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.event-detail-frame-chat .compose-input-text .compose-input {
  width: 95%;
  margin-right: 1rem;
}

.event-detail-frame-chat .compose-input-text .compose-btn {
}

/* Edit event */

/* PROFILE */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name-age {
  font-size: 25px;
}

.profile-text_22 {
  font-size: 22px;
  font-weight: 700;
}
.text_20_b {
  font-size: 20px;
  font-weight: 500;
}

.profile-detail-top {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.profile-detail-top .btn-logout {
  height: 2rem;
}
.profile-detail-top .btn-logout button {
  float: right;
  margin-right: 24px;
  height: 2rem;
  width: 2rem;
  color: gray;
}
.profile-detail-top .profile-btn-edit {
  margin-left: 24px;
}

.profile-detail-top .profile-btn-edit button {
  background-color: #ffa500;
  color: #fff;
  padding: 3px 10px;
  border-radius: 10px;
}

.profile-hobbies .profile-content {
  display: flex;
  flex-wrap: wrap;
}

.profile-edit .profile-edit-photo .list-photo .item-photo-container {
  width: 7.5rem;
  height: 11rem;
}

.profile-edit
  .profile-edit-photo
  .list-photo
  .item-photo-container
  .item-photo {
  width: 7rem;
  height: 10rem;
  background-color: #808080ad;
}

.profile-edit .profile-edit-photo .list-photo .item-photo-container button {
  position: relative;
  top: -1rem;
  left: 6rem;
  background-color: #ffa500;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}

.profile-edit .profile-edit-photo .btn-upload-photo {
  text-align: center;
}

.profile-edit .profile-edit-photo .btn-upload-photo button {
  width: 70%;
  background-color: #ffa500;
  color: #fff;
  height: 2.5rem;
  border-radius: 20px;
}

.profile-edit-btn-save {
  text-align: center;
}

.profile-edit-btn-save button {
  min-width: 5rem;
  background-color: #ffa500;
  color: #fff;
  height: 2.5rem;
  border-radius: 20px;
}

/* NOTIFICATION */
.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noti-title {
  font-size: 22px;
  color: #ffa500;
  font-weight: 500;
  padding: 10px 24px !important;
}

.notification .noti-content {
  text-align: left;
}

.notification .noti-content .noti-item .noti-item-dot {
  font-size: 1rem;
  color: #ffa500;
}
.noti-item {
  padding: 0 0.5rem;
}

.noti-item:hover {
  background-color: #ffa500;
  border-radius: 7px;
}

/* CUSTOM CSS BOOTSTRAP */
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(255, 165, 0);
  border-color: rgb(255, 165, 0);
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(199, 201, 74);
}

.custom-btn_ffa500 {
  background-color: rgb(255, 165, 0) !important;
  border-color: rgb(255, 165, 0) !important;
}

/* .datepick_custom {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
} */
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
}

.react-datepicker__input-container input:focus {
  border-color: #ced4da !important;
}

.btn-load-more {
  color: #ffa500 !important;
  background-color: #fff !important;
  border-color: #ffa500 !important;
}

.fake_input {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  overflow: visible;
}

.img-slide-profile img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.MuiDialogContent-root::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background: #ffa500 !important;
}

.btn_text_cancel:hover {
  color: red;
}
/* .rc-pagination-item-active {
  color: #FFA500;
  border-color: #FFA500 !important;
}

.rc-pagination-item:focus, .rc-pagination-item:hover {
  border-color: #FFA500 !important;
} */

.animationplace {
  width: 10%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #26c6da;
  --primary-color-hover: rgba(13, 163, 182, 0.08);
  --primary-color-active: rgba(13, 163, 182, 0.16);
  --secondary-color: #ffda68;
  --secondary-color-hover: #ffe082;
  --secondary-color-active: #ffecb3;
  --warning-color: #f44336;
  --warning-color-hover: #ffcdd2;
  --warning-color-active: #ef9a9a;
  --drop-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 4px 24px rgba(0, 0, 0, 0.06);
  --lift-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.06);
  --color-text: 1, 41, 46;
  --color-background: 255, 255, 255;
  --color-dark-background: 25, 33, 36;
  --grey-1: rgb(120, 144, 156);
  --color-input-border: 228, 232, 235;
  --container-width: 60rem;
  --rounded-radius: var(--spacing-unit-xmicro);
  --site-margin: var(--spacing-unit);
  --spacing-unit-xxmicro: 3px;
  --spacing-unit-xmicro: 0.25rem;
  --spacing-unit-micro: 0.3535534rem;
  --spacing-unit-tiny: 0.5000000266rem;
  --spacing-unit-small: 0.7071068376rem;
  --spacing-unit: 1.0000001064rem;
  --spacing-unit-large: 1.4142137505rem;
  --spacing-unit-xlarge: 2.0000003193rem;
  --spacing-unit-xxlarge: 2.8284276515rem;
  --spacing-unit-xxxlarge: 4.0000008514rem;
  --spacing-unit-xxxxlarge: 5.6568556041rem;
  --font-weight-regular: 400;
  --font-weight-text: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --home-hero-font-size-a: 3rem;
  --home-hero-font-size-b: 2.7rem;
  --home-hero-font-size-c: 1.5rem;
  --home-hero-font-size-d: 1.5rem;
}
@media screen and (min-width: 20rem) {
  :root {
    --home-hero-font-size-a: 3.6931719654rem;
    --home-hero-font-size-b: 3.395216879rem;
    --home-hero-font-size-c: 2rem;
    --home-hero-font-size-d: 1.5rem;
  }
  .u-margin-bottom-xxlarge {
    margin-bottom: calc(var(--spacing-unit-xxxxlarge) * 1.25);
  }
  .u-margin-top-xxlarge {
    margin-top: calc(var(--spacing-unit-xxxxlarge) * 1.25);
  }
}
@media screen and (min-width: 60rem) {
  :root {
    --home-hero-font-size-b: 4.55209399rem;
    --home-hero-font-size-a: 5.0377201155rem;
    --home-hero-font-size-c: 3rem;
    --home-hero-font-size-d: 2rem;
  }
  .u-margin-bottom-xxlarge {
    margin-bottom: var(--spacing-unit-xxxxlarge);
  }
  .u-margin-top-xxlarge {
    margin-top: var(--spacing-unit-xxxxlarge);
  }
  .form-input {
    font-size: 1.21875rem;
  }
  .primaryButton {
    width: 10rem;
  }
}

@media screen and (max-width: 60rem) and (min-width: 20rem) {
  .form-input {
    font-size: calc(1.1375rem + 0.08125 * (100vw - 20rem) / 40);
  }
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  font-variation-settings: "wdth" 95;
  line-height: 1.55;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(var(--color-background), 1);
  color: rgba(var(--color-text), 1);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.m-auto {
  margin: 0 auto;
}

.o-wrapper-l {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--site-margin);
  padding-right: var(--site-margin);
  max-width: calc(var(--container-width) + var(--site-margin) * 2);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.welcomeText {
  font-size: var(--home-hero-font-size-a);
  letter-spacing: -0.0075em;
  line-height: 1.1;
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--spacing-unit-tiny);
}

.descriptionText {
  font-size: var(--home-hero-font-size-c);
  line-height: 1.35;
  font-weight: var(--font-weight-text);
  letter-spacing: -0.0075em;
  margin-bottom: var(--spacing-unit-large);
}

.actionText {
  font-size: var(--home-hero-font-size-d);
  line-height: 1.35;
  font-weight: var(--font-weight-regular);
  letter-spacing: -0.0075em;
  margin-bottom: var(--spacing-unit);
}

.username {
  color: var(--primary-color);
  cursor: pointer;
  position: relative;
}

.username.copied::before {
  width: max-content;
  content: "Copied to clipboard";
  background: rgba(var(--color-dark-background), 1);
  box-shadow: var(--lift-shadow);
  padding: var(--spacing-unit-xmicro);
  border-radius: var(--spacing-unit-micro);
  font-size: 0.8rem;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.username.copied::after {
  content: "";
  background: rgba(var(--color-dark-background), 1);
  padding: var(--spacing-unit-xmicro);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(45deg);
}

.callBox,
.disclaimer {
  margin-bottom: var(--spacing-unit);
}

.form-input {
  padding: var(--spacing-unit) var(--spacing-unit-large);
  width: 100%;
  border: 3px solid rgba(var(--color-input-border), 1);
  border-radius: calc(var(--rounded-radius) * 2);
  font-weight: var(--font-weight-text);
  line-height: 1.2;
  background-color: rgba(var(--color-background), 1);
  color: rgba(var(--color-text), 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-right: var(--spacing-unit-large);
}

.form-input::placeholder,
.form-input:-moz-placeholder {
  font-weight: var(--font-weight-text);
  line-height: 1.2;
  color: rgba(var(--color-text), 1);
}

.form-input:hover {
  box-shadow: 0 1px 4px #0000001a, 0 4px 12px rgba(0, 0, 0, 0.06);
  box-shadow: var(--lift-shadow);
}

.form-input:focus {
  border: 3px solid var(--primary-color);
  box-shadow: 0 1px 4px #0000001a, 0 4px 12px rgba(0, 0, 0, 0.06);
  box-shadow: var(--lift-shadow);
}

.highlight {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 60%,
    var(--secondary-color-active) 40%
  );
}

.primaryButton {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: var(--home-hero-font-size-d);
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
  padding: var(--spacing-unit-small);
  background-color: var(--secondary-color);
  color: #1f292e;
  border-radius: 0.25rem;
  border-radius: var(--rounded-radius);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.primaryButton:hover,
.primaryButton:active {
  box-shadow: var(--lift-shadow);
}

.primaryButton:hover {
  background-color: var(--secondary-color-hover);
}

.primaryButton:active {
  background-color: var(--secondary-color-active);
}

.alertButtonPrimary,
.alertButtonSecondary {
  border: none;
  outline: none;
  width: 4rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
  padding: var(--spacing-unit-xmicro);
  color: #1f292e;
  border-radius: 0.25rem;
  border-radius: var(--rounded-radius);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.alertButtonPrimary {
  background-color: var(--primary-color);
}

.alertButtonSecondary {
  background-color: var(--warning-color);
}

.alertButtonPrimary:hover,
.alertButtonPrimary:active,
.alertButtonSecondary:hover,
.alertButtonSecondary:active {
  box-shadow: var(--lift-shadow);
}

.alertButtonPrimary:hover {
  background-color: var(--primary-color-hover);
}

.alertButtonSecondary:hover {
  background-color: var(--warning-color-hover);
}

.alertButtonPrimary:active {
  background-color: var(--primary-color-active);
}

.alertButtonSecondary:active {
  background-color: var(--warning-color-active);
}
