.wrapper{
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
}

.listItem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}