.wrapper{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;

}

.wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.wrapper img{
    width: 200px;
    height: 150px;
    border-radius: 1rem;

}

